<ul class="nav nav-pills">
  <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'map'" (click)="viewMode = 'map'">Map View</a></li>
  <li class="nav-item"><a class="nav-link" [class.active]="viewMode == 'list'" (click)="viewMode = 'list'">List View</a></li>
</ul>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">Map View Content</div>
  <div *ngSwitchCase="'list'">List View Content</div>
  <div *ngSwitchDefault>Otherwise</div>
</div>
<p></p>
<button class="btn btn-primary btn-space" (click)="onAdd()">add</button>
<button class="btn btn-primary btn-space" (click)="loadCourses()">Load Courses</button>
<div *ngIf="courses.length > 0; then coursesList else  noCourses"></div>
<ng-template #coursesList>
  <h2>List of courses</h2>
</ng-template>
<ng-template #noCourses>
  <h2>No courses yet</h2>
</ng-template>
<ul>
  <li *ngFor="let course of courses; trackBy: trackCourse; even as isEven">
    {{ course.name }}
    <button class="btn btn-secondary" (click)="onRemove(course)">Remove</button>
  </li>
</ul>

<span>{{ task?.asignee?.name }}</span>
<router-outlet></router-outlet>
